{% extends 'base.html' %}
<div>
  {% block content %}
  <h1 class="font-sans uppercase">List of all events</h1>
  <hr>
  <div class="w-1/2">    
      <table class="w-full mt-6 font-sans text-sm text-left text-gray-500">
          <thead class="text-xs uppercase text-slate-700">
              <tr>
                  <th class="">Event name</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              {% for event in object_list  %}
              <tr class="">
                  <th class="py-3"> <a class="hover:underline hover:decoration-emerald-500">{{ event.name }}</a></th> 
                  <th class="font-light">{{ event.start_date }}</th>
                  <th class="font-light">{{ event.end_date }}</th>
                  <th class="font-light uppercase text-slate-100">
                      {% if event.status == "Confirmed" %}
                      <span class="px-2 py-1 bg-green-400 rounded-full">{{event.status}}</span></th>
                      {% elif event.status == "Pending" %}     
                      <span class="px-2 py-1 rounded-full bg-amber-400">{{event.status}}</span></th>
                      {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  {% endblock %}
</div>
