{% extends 'base.html' %}
{% block content %}
<h1 class="mt-12 ml-12 font-sans uppercase lg:text-4xl">List of all events</h1>
<div id="body" class="mx-12 my-6 rounded-3xl bg-slate-50 bg-opacity-75 drop-shadow-2xl">
    <section class="px-6 py-6">
        <table class="font-sans text-sm text-left text-gray-500">
            <thead class="text-xs uppercase text-slate-700">
                <tr>
                    <th class="">Event name</th>
                    <th>Status</th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody class="">
                {% for event in object_list %}
                <tr>
                    <th class=""> <a class="hover:underline hover:decoration-emerald-500">{{ event.name }}</a></th>
                    <th class="">
                        {% if event.status == "Confirmed" %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="w-5 h-5 fill-green-400">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd" />
                        </svg>
                        {% elif event.status == "Pending" %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="w-5 h-5 fill-amber-400">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd" />
                        </svg>
                        {% elif event.status == "Canceled" %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="w-5 h-5 fill-red-400">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z"
                                clip-rule="evenodd" />
                        </svg>
                        {% endif %}
                    </th>
                    <th class="">{{event.start_date}}</th>
                    <th class="">{{event.end_date}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <p class="mt-4 font-sans">Total number of events: <strong>{{object_list|length}}</strong></p>
    </section>
</div>
{% endblock %}
