{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://use.typekit.net/pjz3krm.css"> 
		{% tailwind_css %}
	</head>

	<body class="font-serif leading-normal tracking-normal bg-gray-50">
        <div class="flex" id="wrapper">
            <div class="h-screen overflow-y-auto w-96">
               <h1 class="mt-6 font-sans text-xl font-bold text-center uppercase text-slate-600">First Crack</h1> 
               <p class="mx-6 text-center text-slate-400">Our Dashboard to better control your coffee business</p>
               <ul class="mt-6 font-sans text-sm uppercase text-slate-400">
                   <li class="flex items-center justify-center w-2/3 py-3 mx-auto mt-4 text-center rounded-full bg-slate-200 hover:bg-yellow-700 hover:text-slate-100">
                       Events
                   </li>
               </ul>
            </div>    
            <div id="body" class="w-full h-screen overflow-y-auto bg-gray-100">
                <div class="container mx-auto mt-8 ml-8">
                    <section class="mt-4">

                        {% block content %}
                            
                        {% endblock %}
                    </section>
                </div>
            </div>
        </div>
	</body>
</html>
