{% extends 'theme/base.html' %}
{% block sidebar %}
    {% include 'theme/sidebar.html' %}
{% endblock sidebar %}
{% block content %}
    <h2 class="font-sans text-4xl font-thin uppercase dark:text-white">
        # {{ sale.id }} <mark class="px-2 text-white bg-amber-300 rounded dark:bg-blue-500"> {{ sale.status }}
    </mark>
</h2>
<p class="mt-4"></p>
<hr class="h-px my-8 border-0 bg-slate-200 dark:bg-slate-700">
<p class="mt-4">
    <strong>Client:</strong> {{ sale.client }}
</p>
<p class="mt-4">
    <strong>Order date:</strong> {{ sale.order_date }}
</p>
<p class="mt-4">
    <strong>Delivery date:</strong> {{ sale.delivery_date }}
</p>
<h3 class="mt-6 font-headings text-2xö uppercase dark:text-white">Purchases</h3>
<div class="relative overflow-x-auto shadow-lg sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-6">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Quantity</th>
                <th scope="col" class="px-6 py-3">Product</th>
                <th scope="col" class="px-6 py-3">Variation</th>
                <th scope="col" class="px-6 py-3">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in sale.purchases.all %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{ purchase.purchase_set.first.quantity }}</td>
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ purchase.product }}
                    </th>
                    <td class="px-6 py-4">{{ purchase.specification }}</td>
                    <td class="px-6 py-4">{{ purchase.retail_price }} &euro;</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</p>
{% endblock content %}
